<!-- define form action and method -->
<% const formAction = `/authors/${locals.data.id}/edit?_method=PUT` %>

<div class="w-full max-w-md mx-auto p-6 rounded-lg shadow-md bg-white">
	<%- include('partials/title') %>

	<form action="<%= formAction %>" method="post" class="flex flex-col gap-5">
		<div class="flex flex-col">
			<label for="name" class="uppercase text-sm text-zinc-600 font-light mb-1"
				>Name *</label
			>
			<input
				type="text"
				id="name"
				name="name"
				value="<%= locals.data?.name ?? ''%>"
				class="border border-zinc-300 outline-none px-3 py-2 rounded-md" />
			<% if (locals.errors?.name) { %>
			<p class="text-sm text-red-500 mt-1"><%= errors.name.msg %></p>
			<% } %>
		</div>

		<div class="flex flex-col">
			<fieldset>
				<legend class="uppercase text-sm text-zinc-600 font-light mb-1">
					gender
				</legend>

				<div class="border border-zinc-300 px-3 py-2 rounded-md">
					<div class="flex items-center gap-10">
						<div class="flex items-center gap-2">
							<input type="radio" name="gender" id='male' value="male" <%=
							locals.data?.gender === 'male' ? 'checked' : '' %> />
							<label for="male" class="capitalize text-base font-light">
								male
							</label>
						</div>

						<div class="flex items-center gap-2">
							<input type="radio" name="gender" id='female' value="female" <%=
							locals.data?.gender === 'female' ? 'checked' : '' %> />
							<label for="female" class="capitalize text-base font-light">
								female
							</label>
						</div>
					</div>
				</div>
			</fieldset>
			<% if (locals.errors?.gender) { %>
			<p class="text-sm text-red-500 mt-1"><%= errors.gender.msg %></p>
			<% } %>
		</div>

		<div class="flex flex-col">
			<label
				for="nationality"
				class="uppercase text-sm text-zinc-600 font-light mb-1"
				>nationality</label
			>
			<input
				type="text"
				id="nationality"
				name="nationality"
				value="<%= locals.data?.nationality ?? ''%>"
				class="border border-zinc-300 outline-none px-3 py-2 rounded-md" />
			<% if (locals.errors?.nationality) { %>
			<p class="text-sm text-red-500 mt-1"><%= errors.nationality.msg %></p>
			<% } %>
		</div>

		<div class="flex flex-col">
			<label for="dob" class="uppercase text-sm text-zinc-600 font-light mb-1"
				>date of birth</label
			>
			<input
				type="date"
				id="dob"
				name="dob"
				value="<%= locals.data?.dob ?? ''%>"
				class="border border-zinc-300 outline-none px-3 py-2 rounded-md" />
			<% if (locals.errors?.dob) { %>
			<p class="text-sm text-red-500 mt-1"><%= errors.dob.msg %></p>
			<% } %>
		</div>

		<div class="flex flex-col">
			<label for="bio" class="uppercase text-sm text-zinc-600 font-light mb-1"
				>Biography</label
			>
			<textarea
				name="bio"
				id="bio"
				rows="6"
				class="border border-zinc-300 outline-none px-3 py-2 rounded-md">
<%= locals.data?.bio ?? ''%></textarea
			>

			<% if (locals.errors?.bio) { %>
			<p class="text-sm text-red-500 mt-1"><%= errors.bio.msg %></p>
			<% } %>
		</div>

		<div class="flex items-center justify-between">
			<a
				href="/admin?redirect=<%= encodeURIComponent(cancelPath) %>"
				class="flex justify-center items-center w-24 py-0.5 border border-blue-500 rounded-sm text-blue-500 cursor-pointer hover:bg-blue-500 hover:text-zinc-50 transition-colors duration-200">
				Cancel
			</a>

			<button
				type="submit"
				class="flex justify-center items-center w-24 py-0.5 border border-blue-500 rounded-sm text-blue-500 cursor-pointer hover:bg-blue-500 hover:text-zinc-50 transition-colors duration-200">
				Submit
			</button>
		</div>
	</form>
</div>
