<div class="flex-1 w-full max-w-xl mx-auto flex flex-col">
	<!-- Search -->
	<%- include('partials/search') %>

	<!-- Content -->
	<div class="flex-1 w-full max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
		<!-- Title -->
		<%- include('partials/title') %>

		<!-- Content -->
		<% if (locals.authors.length > 0) { %> <% authors.map(author => { %>
		<div class="flex items-center gap-6 py-4 not-last:border-b border-zinc-200">
			<div class="justify-self-start block"><%= author.name %></div>

			<div class="ml-auto flex gap-8">
				<a
					href="/authors/<%= author.id %>/books"
					class="text-blue-500 font-light md:flex md:gap-1">
					<div
						aria-hidden="true"
						class="size-6 border-b border-transparent hover:border-blue-500 transition-colors duration-200">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="lucide lucide-library-icon lucide-library">
							<path d="m16 6 4 14" />
							<path d="M12 6v14" />
							<path d="M8 8v12" />
							<path d="M4 4v16" />
						</svg>
					</div>

					<span class="sr-only">Books</span></a
				>
				<a
					href="/authors/<%= author.id %>"
					class="text-blue-500 font-light inline-block md:flex md:gap-1">
					<span
						aria-hidden="true"
						class="size-6 border-b border-transparent hover:border-blue-500 transition-colors duration-200">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="lucide lucide-user-pen-icon lucide-user-pen w-full h-full">
							<path d="M11.5 15H7a4 4 0 0 0-4 4v2" />
							<path
								d="M21.378 16.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
							<circle cx="10" cy="7" r="4" />
						</svg>
					</span>
					<span class="sr-only">Profile</span>
				</a>
			</div>
		</div>

		<% }) %>
	</div>
	<% } else { %>
	<p class="text-center">No Authors.</p>
	<% } %>
</div>
