<%- include('partials/header', {title}) %>

<div class="px-6 mt-4">
	<% if (locals.authors) { %>
	<table class="table-auto w-full">
		<thead class="w-full">
			<tr class="border-b border-zinc-200 h-14">
				<th class="text-start">Name</th>
				<th class="text-end">Gender</th>
				<th class="text-end">Nationality</th>
			</tr>
		</thead>
		<tbody>
			<% authors.map(author => { %>
			<tr
				class="border-b border-zinc-200 h-14 last-of-type:border-none"
				data-href="authors/<%= author.id %>">
				<td class="text-start"><%= author.name %></td>
				<td class="text-end"><%= author.gender %></td>
				<td class="text-end uppercase"><%= author.nationality %></td>
			</tr>

			<%})%>
		</tbody>
	</table>

	<% } else { %>
	<p>No Author.</p>
	<% } %>
</div>
