<!-- Search -->
<%- include('partials/search') %>

<!-- Books -->
<% if (locals.books.length > 0) { %>
<div class="px-6 mt-2">
	<table class="table-auto w-full">
		<thead class="w-full">
			<tr class="border-b border-zinc-200 h-14">
				<th class="text-start">Title</th>
				<th class="text-end">Price</th>
				<th class="text-end">Stock</th>
			</tr>
		</thead>
		<tbody>
			<% books.map(book => { %>
			<tr
				class="border-b border-zinc-200 h-14 last-of-type:border-none cursor-pointer hover:bg-zinc-50"
				data-href="/books/<%= book.id %>?from=<%= encodeURIComponent(currentPath) %>">
				<td class="text-start"><%= book.title %></td>
				<td class="text-end"><%= book.price %></td>
				<td class="text-end"><%= book.stock %></td>
			</tr>

			<%})%>
		</tbody>
	</table>
</div>

<% } else { %>
<div class="mt-2">
	<% if (currentPath !== '/') { %>
	<p class="text-center">No book related to <%= title ?? headerTitle %>.</p>

	<p class="text-center">
		<a
			href="<%= currentPath %>/confirm-deletion"
			class="mt-2 inline-block border-b border-zinc-500 cursor-pointer"
			>You can delete them here.</a
		>
	</p>
	<% } else { %>
	<p class="text-center">No books.</p>
	<% } %>
</div>
<% } %>
