<div class="flex-1 w-full max-w-4xl mx-auto flex items-center justify-center">
	<div class="w-full rounded-md shadow-md p-6 bg-white">
		<div class="flex flex-col md:flex-row gap-8">
			<!-- Book cover -->
			<div class="w-full md:flex-2 flex items-center justify-center">
				<% if (book.cover_url) { %>
				<div class="">
					<img src="<%= book.cover_url %>" alt="Book cover" />
				</div>
				<% } else { %>
				<div
					class="w-full aspect-[1/1.5] md:flex-2 flex items-center justify-center border border-zinc-200 text-zinc-400">
					No Cover
				</div>
				<% } %>
			</div>

			<!-- Book details -->

			<div class="w-full md:flex-3 flex flex-col">
				<h1 class="text-3xl my-4"><%= book.title %></h1>
				<% if (book.subtitle) { %>
				<h2 class="text-lg font-extralight italic text-zinc-500 -mt-2.5">
					- <%= book.subtitle %>
				</h2>
				<% } %>

				<p class="text-lg text-zinc-800 my-4"><%= book.authors %></p>

				<% if (book.description) { %>
				<p class="text-base text-zinc-950 font-light">
					<%= book.description %>
				</p>
				<% } %>

				<hr class="my-6 text-zinc-300" />

				<div class="flex flex-col gap-4 md:flex-row md:flex-wrap">
					<p>
						<span class="text-base font-semibold">Genre: </span>
						<span> <%= book.genres %> </span>
					</p>
					<p>
						<span class="text-base font-semibold">Language: </span>
						<span> <%= book.languages %></span>
					</p>
					<p>
						<span class="text-base font-semibold">Published: </span>
						<span><%= book.published_at %></span>
					</p>

					<p>
						<span class="text-base font-semibold">Stock: </span>
						<span class="text-base"><%= book.stock %></span>
					</p>
					<p>
						<span class="text-base font-semibold">Price: </span>
						<span class="text-base"><%= book.price %></span>
					</p>
				</div>

				<hr class="my-6 text-zinc-300" />

				<div class="flex justify-between">
					<a
						href="/books/<%= book.id %>/confirm-deletion?from=<%= encodeURIComponent(currentPath) %>"
						class="text-red-500 border border-red-500 px-6 py-1 rounded-sm hover:bg-red-500 hover:text-zinc-50 transition-colors duration-200"
						>Delete</a
					>

					<a
						href="/books/<%= book.id %>/edit?from=<%= encodeURIComponent(currentPath) %>"
						class="text-blue-500 border border-blue-500 px-6 py-1 rounded-sm hover:bg-blue-500 hover:text-zinc-50 transition-colors duration-200"
						>Edit</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
