<!-- Books -->
<div class="flex-1 w-full max-w-lg mx-auto flex flex-col">
	<!-- Search -->
	<%- include('partials/search') %>

	<!-- Content -->
	<div class="flex-1 bg-white p-6 rounded-lg shadow-md">
		<!-- Title -->
		<%- include('partials/title') %>

		<!-- data -->
		<% if (locals.books.length > 0) { %>
		<table class="table-auto w-full">
			<thead class="w-full">
				<tr class="border-b border-zinc-200 h-14">
					<th class="text-start px-3">Title</th>
					<th class="text-end px-3">Price</th>
					<th class="text-end px-3">Stock</th>
				</tr>
			</thead>
			<tbody>
				<% books.map(book => { %>
				<tr
					class="border-b border-zinc-200 h-14 last-of-type:border-none cursor-pointer hover:bg-zinc-100"
					data-href="/books/<%= book.id %>?from=<%= encodeURIComponent(currentPath) %>">
					<td class="text-start px-3"><%= book.title %></td>
					<td class="text-end px-3"><%= book.price %></td>
					<td class="text-end px-3"><%= book.stock %></td>
				</tr>

				<%})%>
			</tbody>
		</table>

		<% } else { %>
		<div class="mt-8">
			<% if (currentPath !== '/') { %>
			<p class="text-center">
				No book related to <span class="italic"><%= title %></span>.
			</p>

			<p class="text-center">
				<a
					href="<%= currentPath.split('/').slice(0, -1).join('/') %>/confirm-deletion?from=<%= currentPath %>"
					class="mt-2 inline-block underline text-blue-500 cursor-pointer"
					>You can delete <span class="italic"><%= title %></span> here.</a
				>
			</p>
			<% } else { %>
			<p class="text-center">No books.</p>
			<% } %>
		</div>
	</div>
	<% } %>
</div>
