<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Book Inventory | Home</title>

		<link rel="stylesheet" href="/styles/build.css" />
		<script src="/scripts/sidebar.js" defer></script>
	</head>
	<body class="">
		<div id="container" class="relative transition-transform duration-300">
			<div
				id="sidebar"
				class="min-h-screen absolute w-72 top-0 left-0 -translate-x-full bg-white text-zinc-950 px-8 z-10 shadow-lg">
				<!-- Brand & Logo -->k
				<div class="h-14 flex items-center">
					<a href="/"
						><span class="text-xl uppercase">Inventory</span
						><span class="text-xl text-amber-600 uppercase">App</span></a
					>
				</div>

				<div class="mt-6 flex flex-col gap-5">
					<a href="/" class="flex gap-3">
						<div class="size-6"></div>
						<span class="text-lg font-light">Books</span>
					</a>

					<a href="/authors" class="flex gap-3">
						<div class="size-6">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="1"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-users-icon lucide-users w-full h-full">
								<path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
								<path d="M16 3.128a4 4 0 0 1 0 7.744" />
								<path d="M22 21v-2a4 4 0 0 0-3-3.87" />
								<circle cx="9" cy="7" r="4" />
							</svg>
						</div>
						<span class="text-lg font-light">Authors</span>
					</a>

					<a href="/genres" class="flex gap-3">
						<div class="size-6">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="1"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-shapes-icon lucide-shapes w-full h-full">
								<path
									d="M8.3 10a.7.7 0 0 1-.626-1.079L11.4 3a.7.7 0 0 1 1.198-.043L16.3 8.9a.7.7 0 0 1-.572 1.1Z" />
								<rect x="3" y="14" width="7" height="7" rx="1" />
								<circle cx="17.5" cy="17.5" r="3.5" />
							</svg>
						</div>
						<span class="text-lg font-light">Genres</span>
					</a>

					<a href="/languages" class="flex gap-3">
						<div class="size-6">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="1"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-languages-icon lucide-languages w-full h-full">
								<path d="m5 8 6 6" />
								<path d="m4 14 6-6 2-3" />
								<path d="M2 5h12" />
								<path d="M7 2h1" />
								<path d="m22 22-5-10-5 10" />
								<path d="M14 18h6" />
							</svg>
						</div>
						<span class="text-lg font-light">Languages</span>
					</a>
				</div>
			</div>

			<!-- Main -->
			<div id="main" class="min-h-screen flex-1 flex flex-col text-zinc-950">
				<header
					class="flex items-center justify-between w-full h-16 px-6 border-b border-zinc-200">
					<button id="btn-menu" class="size-6 cursor-pointer text-zinc-950">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="1"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="lucide lucide-menu-icon lucide-menu w-full h-full">
							<path d="M4 12h16" />
							<path d="M4 18h16" />
							<path d="M4 6h16" />
						</svg>
					</button>

					<h1 class="text-center text-2xl"><%= locals.title %> Inventory</h1>

					<button
						class="size-6 bg-sky-600 text-zinc-50 rounded-md border-none p-[2px]">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="lucide lucide-plus-icon lucide-plus w-full h-full">
							<path d="M5 12h14" />
							<path d="M12 5v14" />
						</svg>
					</button>
				</header>

				<!-- Search -->
				<div class="w-full px-6 mt-4">
					<form class="relative">
						<div
							class="size-6 absolute top-1/2 -translate-y-1/2 left-2 text-zinc-400">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="1"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-search-icon lucide-search w-full h-full">
								<path d="m21 21-4.34-4.34" />
								<circle cx="11" cy="11" r="8" />
							</svg>
						</div>

						<input
							type="search"
							name="q"
							id="q"
							aria-label="Search books"
							class="border border-zinc-300 pl-10 py-2 w-full rounded-md outline-none"
							placeholder="Search..." />
					</form>
				</div>
				<!-- Content -->
				<div class="px-6 mt-4">
					<% if (locals.books) { %>
					<table class="table-auto w-full">
						<thead class="w-full">
							<tr class="border-b border-zinc-200 h-14">
								<th class="text-start">Title</th>
								<th class="text-end">Price</th>
								<th class="text-end">Stock</th>
							</tr>
						</thead>
						<tbody>
							<% books.map(book => { %>
							<tr
								class="border-b border-zinc-200 h-14 last-of-type:border-none"
								data-href="book/<%= book.id %>">
								<td class="text-start"><%= book.title %></td>
								<td class="text-end"><%= book.price %></td>
								<td class="text-end"><%= book.stock %></td>
							</tr>

							<%})%>
						</tbody>
					</table>

					<% } else { %>
					<p>No books.</p>
					<% } %>
				</div>
			</div>
		</div>
	</body>
</html>
