<% if (currentPath.includes('genres/') || currentPath.includes('languages/')) {
%>
<div class="mt-5 px-6">
	<h1 id="title" class="text-2xl text-center cursor-pointer">
		<%= locals.title %>
	</h1>

	<div class="<%= mode === 'show' ? 'hidden' : '' %>" id="form-wrapper">
		<form
			action="<%= locals.currentPath %>?_method=PUT"
			method="post"
			class="mb-1 flex justify-between relative">
			<input
				type="text"
				id="name"
				name="name"
				value="<%= locals.errors?.name ? data.name : locals.title %>"
				autofocus
				class="border border-zinc-300 px-3 py-2 w-full rounded-md outline-none" />
			<div class="absolute top-1/2 right-4 -translate-y-1/2 flex gap-4">
				<button type="submit" class="text-xl text-blue-500 cursor-pointer">
					✓
				</button>
				<button
					type="button"
					id="cancel"
					class="text-xl text-red-500 cursor-pointer">
					✕
				</button>
			</div>
		</form>

		<% if (locals.errors?.name) { %>
		<div id="error-message" class="text-sm font-light text-red-500">
			<%= locals.errors?.name.msg %>
		</div>
		<% } %>
	</div>
</div>
<% } %>
